.container {
  padding-top: 80px;
}

.profileCard {
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 20px;
  text-align: center;
}

.profileCard:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  background-color: #f8f9fa;
}

.iconCircle {
  width: 60px;
  height: 60px;
  background-color: #1b465e;
  color: white;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}


